body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: #6C2E2F
}

header {
    background-color: #E8AB9E;
    width: 100%;
    margin: 0;
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}

.left-header {
    padding-top: 20px;
    text-align: left;
}

.right-header {
    display: flex;
    flex-direction: row;
}

#nav {
    display: flex;
    flex-direction: row;
    padding-top: 20%;
}

a {
    text-decoration: none;
    color: white;
}
.bar {
/*    transparent for full window*/
    opacity: 0;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 10px;
}

.display {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.display-text {
    font-weight: 400;
    padding: 2%;
    width: 30%;
    
}
.display-pic {
    width: 70%;
    margin: 2%;
}

img {
    width: 100%;
}

.all-pics {
    display: flex;
    flex-direction: row;
}

.two-pics {
    display: flex;
    flex-direction: row;
    width: 33%;
}

.two-pics img {
    width: 97%;
}


footer {
    background-color: #E8AB9E;
    width: 100%;
    margin: 0;
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: normal;
    padding: 10px 10px 10px 10px;
}
h5 {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    font-weight: 700;
}
@media (max-width: 480px){
    header {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    h1{
        font-size: 25px;
        line-height: 0;
        
    }
    .left-header{
        font-size: 50%;
        padding: 0;
        margin: 0 auto;
        
    }
    .right-header{
        text-align: center;
    }
    #nav{
        margin: 0 auto;
        padding-top: 10%;
        padding-bottom: 4%;
    }
    .bar {
        opacity: 1;
    }
    #headParaAlign {
        text-align: center;
        font-size: 10px;
        
    }
    
}
